
# every 10 minutes, crawl today data
# then publish data
*/10 * * * * bash -c 'cd /usr/src/app && time /usr/local/bin/python3.7 crawl-today.py && ./scripts/commit-and-push.sh' >> /var/log/cron.log 2>&1

# every hour, link 'latest' to today data
0 * * * * bash -c 'cd /usr/src/app && ./scripts/link-latest-data.sh' >> /var/log/cron.log 2>&1

# fake python server for CleverCloud deployment
* * * * * bash -c 'cd /tmp/foobar && timeout 58s python3 -m http.server 8080' >> /var/log/cron.log 2>&1

# reset logs
0 0 * * * echo Reset logs > /var/log/cron.log
